# Kubernetes doesn't use containerd restart manager.
disabled_plugins = ["restart"]

[debug]
  level = "info"

[plugins.linux]
  # This forces gvisor for all containers:
  # runtime = "/usr/sbin/runsc"
  shim = "/root/bin/gvisor-containerd-shim"

[plugins.cri]
  stream_server_address = "127.0.0.1"
  max_container_log_line_size = 102400
[plugins.cri.cni]
  bin_dir = "/opt/cni/bin"
  conf_dir = "/etc/cni/net.d"
  conf_template = ""
[plugins.cri.containerd.runtimes.runsc]
  runtime_type = "io.containerd.runtime.v1.linux"
  runtime_engine = "/root/bin/runsc"
  runtime_root = "/run/containerd/runsc"
